<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>日程調整くん</title>
        <script src="/send_url.js"></script>
    </head>
    <body>
        <p>日程調整くん</p>
    </body>
</html>